<!-- This is the outer container -->
<div class="container">
    <div class="container__image">
        <img
            src='../../../assets/svg/logo_orange.svg'
            alt='Arkive Logo'
        />
    </div>

    <div class="container__heading">
        <h1>LOG IN HERE</h1>
    </div>

    <div class="container__subheading">
        <h2>Log in by completing the form below</h2>
    </div>

    <div class="container__form">
        <app-input
            [props]="{
                type: 'password'
            }"
            (valueChange)="onTextChanged($event)"
        />
    </div>

    <div class="container__actions">
        <app-input
            [props]="{
                type: 'text'
            }"
            (valueChange)="onTextChanged($event)"
        />
    </div>
</div>