@import '../../../styles.scss';

:host {
    display: contents;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 25px;
    padding: 60px;

    &__image {
        display: flex;
        justify-content: center;
        height: fit-content;

        img {
            max-width: 200px;
        }
    }

    &__heading {
        text-align: center;

        h1 {
            font-family: 'NexaRustSans';
            font-size: 64px;
            color: #0D5672;
        }
    }

    &__subheading {
        text-align: center;

        h2 {
            font-family: 'Barlow', sans-serif;
            font-size: 16px;
            color: #0D5672;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}