<div class="container">
    <div class="container__label">
        <h1>This will be the label</h1>
    </div>

    <div class="container__inputContainer">
        <input
            [type]="props.type == 'text' ? 'text' : props.type == 'password' && showPassword ? 'text' : 'password'"
            [placeholder]="props.placeholder ?? 'label'"
            [(ngModel)]="props.value"
            (ngModelChange)="onInputChange(props.value ?? '')"
        />

        <img
            *ngIf="props.type == 'password'"
            src="{{!this.showPassword ? '../../../assets/svg/ic_eye_show.svg' : '../../../assets/svg/ic_eye_hide.svg'}}"
            (click)="changePasswordVisibility()"
        />
    </div>
</div>